.container
  .row
    .col-md-8
      %h2
        =t('.header')
        %span.small
          ="#{@account.name}"
    .col-md-4
      .span.pull-right.delete
        =link_to t('shared.delete'), @account, method: :delete, data: { confirm: t('shared.shure') }
  .row
    .col-md-12
      %dl
        %dt= Account.human_attribute_name(:name)
        %dd= @account.name
        %dt= Account.human_attribute_name(:acronym)
        %dd= @account.acronym
        %dt= Account.human_attribute_name(:assignee)
        %dd= @account.assigned_user_name
        %dt= Account.human_attribute_name(:description)
        %dd= @account.description
        %dt= Account.human_attribute_name(:contact_attributes)
        -@account.contact_attributes.each do |contact|
          %dd= "#{contact.attribute_type.text}: #{contact.value}"
  = link_to t('shared.back'), accounts_path, class: 'btn btn-link'